body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

#visualizer {
    width: 100%;
    height: 400px;
    background-color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed; /* Footer am unteren Rand fixieren */
    bottom: 0;
    width: 100%;
}
